/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;

  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .page-container {
    padding-top: 80px;
  }

  img {
    width: 100%;
  }
}

.issue-detail-tab {
  padding-top: 20px;
}

.pagination {
  display: inline;
  margin: 0;
}

.pagination-page {
  padding-top: 50px;
}