:local(.styles) {
  position: relative;
  background-color: #E9E9E9;
  padding: 50px 0;

  .tool {
    text-align: center;
    margin: 30px 0;

    img {
      width: 120px;
    }

    h4 {
    	padding: 0 20px;
    }

    a {
      text-decoration: underline;
      color: #333;
    }
  }
}
