:local(.styles) {
	.actor-thumbnail-container {
		vertical-align: top;
		padding-top: 10px;
		text-align: center;
	}
	.actor-thumbnail {
		width: 70px;
	    height: 70px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    border-radius: 35px;
	}
}
